Node-red/flows.json
[
    {
        "id": "5a35277603f7017d",
        "type": "tab",
        "label": "CRM TIcs v1.0",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5c7692d50e864c2a",
        "type": "inject",
        "z": "5a35277603f7017d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "2dc5e5f710d6af1b"
            ]
        ]
    },
    {
        "id": "2dc5e5f710d6af1b",
        "type": "function",
        "z": "5a35277603f7017d",
        "name": "function 2",
        "func": "msg.topic ='SELECT * FROM aspirantes'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "e6dd2d3c403946e3"
            ]
        ]
    },
    {
        "id": "5d5c84a349ccf254",
        "type": "ui_table",
        "z": "5a35277603f7017d",
        "group": "c345a7f4ca49c4c1",
        "name": "",
        "order": 1,
        "width": "11",
        "height": "4",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 970,
        "y": 220,
        "wires": []
    },
    {
        "id": "5379f86e049195ab",
        "type": "mysql",
        "z": "5a35277603f7017d",
        "mydb": "1899bc6a4ef86be0",
        "name": "",
        "x": 810,
        "y": 260,
        "wires": [
            [
                "992fb581f17dc162",
                "5d5c84a349ccf254"
            ]
        ]
    },
    {
        "id": "5ec9a9af466f0b4a",
        "type": "function",
        "z": "5a35277603f7017d",
        "name": "function 3",
        "func": "\nmsg.topic = 'SELECT Correo FROM aspirantes'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 440,
        "wires": [
            [
                "cd7769f6e23873fb"
            ]
        ]
    },
    {
        "id": "918929144fa9a4e4",
        "type": "ui_form",
        "z": "5a35277603f7017d",
        "name": "",
        "label": "Ingreso de usuarios",
        "group": "d1b3ee5915f0f6fc",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nombre",
                "value": "Nombre",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Apellido Paterno",
                "value": "ApellidoP",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Apellido Materno",
                "value": "ApellidoM",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Correo",
                "value": "Correo",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Telefono",
                "value": "Telefono",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Nombre": "",
            "ApellidoP": "",
            "ApellidoM": "",
            "Correo": "",
            "Telefono": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Cancle",
        "topic": "Form",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "c8b6b3622c30a0bc"
            ]
        ]
    },
    {
        "id": "c8b6b3622c30a0bc",
        "type": "sqlstring-format",
        "z": "5a35277603f7017d",
        "name": "",
        "query": " INSERT INTO aspirantes \n (Nombre, ApellidoP, ApellidoM, Correo, Telefono) \n VALUES ( ?,?,?,?,?);\n",
        "vars": "payload.Nombre,payload.ApellidoP,payload.ApellidoM,payload.Correo,payload.Telefono",
        "outField": "topic",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "e6dd2d3c403946e3"
            ]
        ]
    },
    {
        "id": "7a6be43910d14e01",
        "type": "inject",
        "z": "5a35277603f7017d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "5ec9a9af466f0b4a"
            ]
        ]
    },
    {
        "id": "9266ba1f397b3d62",
        "type": "function",
        "z": "5a35277603f7017d",
        "name": "function 4",
        "func": "let data = msg.payload;\n//msg.payload = data.length;\n//msg.payload = data[0].Telefono;\nfor (let index = 0; index < data.length; index++) {\n    msg.payload = data[index].Telefono;\n    return msg;\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "998f07d709a8f298",
        "type": "debug",
        "z": "5a35277603f7017d",
        "name": "Dashboard Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 400,
        "wires": []
    },
    {
        "id": "beaae951df611a50",
        "type": "split",
        "z": "5a35277603f7017d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 820,
        "y": 440,
        "wires": [
            [
                "27771d95965a1fbd"
            ]
        ]
    },
    {
        "id": "ac46bd4f44b8eb65",
        "type": "ui_form",
        "z": "5a35277603f7017d",
        "name": "",
        "label": "Consulta de usuarios",
        "group": "08e714efc0a7691b",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nombre",
                "value": "Nombre",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Nombre": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Cancle",
        "topic": "Form",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "1e97663332831414"
            ]
        ]
    },
    {
        "id": "1e97663332831414",
        "type": "sqlstring-format",
        "z": "5a35277603f7017d",
        "name": "",
        "query": "Select * from aspirantes where Nombre = ?\n\n",
        "vars": "payload.Nombre",
        "outField": "topic",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "e6dd2d3c403946e3"
            ]
        ]
    },
    {
        "id": "7f6eb0acec2296ae",
        "type": "e-mail",
        "z": "5a35277603f7017d",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 1270,
        "y": 460,
        "wires": []
    },
    {
        "id": "ad8bf9f6b45ad168",
        "type": "ui_form",
        "z": "5a35277603f7017d",
        "name": "Correo",
        "label": "",
        "group": "6517f3016d5c477a",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Asunto",
                "value": "As",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Cuepo",
                "value": "Cu",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "As": "",
            "Cu": ""
        },
        "payload": "",
        "submit": "Enviar",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 250,
        "y": 480,
        "wires": [
            [
                "5ec9a9af466f0b4a",
                "e88374491638e7da"
            ]
        ]
    },
    {
        "id": "1b3ad58a7898f25f",
        "type": "function",
        "z": "5a35277603f7017d",
        "name": "function 6",
        "func": "let correo = {payload:msg.payload.Correo}\nmsg.to = correo\nmsg.topic = msg.payload.As\nmsg.payload = msg.payload.Cu\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 460,
        "wires": [
            [
                "998f07d709a8f298"
            ]
        ]
    },
    {
        "id": "27771d95965a1fbd",
        "type": "join",
        "z": "5a35277603f7017d",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 960,
        "y": 460,
        "wires": [
            [
                "1b3ad58a7898f25f"
            ]
        ]
    },
    {
        "id": "766ff677149ec0f5",
        "type": "link in",
        "z": "5a35277603f7017d",
        "name": "link in 1",
        "links": [
            "e6dd2d3c403946e3"
        ],
        "x": 655,
        "y": 260,
        "wires": [
            [
                "5379f86e049195ab"
            ]
        ]
    },
    {
        "id": "e6dd2d3c403946e3",
        "type": "link out",
        "z": "5a35277603f7017d",
        "name": "link out 1",
        "mode": "link",
        "links": [],
        "x": 575,
        "y": 260,
        "wires": []
    },
    {
        "id": "e88374491638e7da",
        "type": "link out",
        "z": "5a35277603f7017d",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "e1b1a08402afa4c0"
        ],
        "x": 415,
        "y": 480,
        "wires": []
    },
    {
        "id": "e1b1a08402afa4c0",
        "type": "link in",
        "z": "5a35277603f7017d",
        "name": "link in 2",
        "links": [
            "e88374491638e7da"
        ],
        "x": 855,
        "y": 480,
        "wires": [
            [
                "27771d95965a1fbd"
            ]
        ]
    },
    {
        "id": "992fb581f17dc162",
        "type": "ui_table",
        "z": "5a35277603f7017d",
        "group": "715dc720058e50a5",
        "name": "",
        "order": 1,
        "width": "6",
        "height": "6",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 970,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "cd7769f6e23873fb",
        "type": "mysql",
        "z": "5a35277603f7017d",
        "mydb": "1899bc6a4ef86be0",
        "name": "",
        "x": 610,
        "y": 440,
        "wires": [
            [
                "beaae951df611a50"
            ]
        ]
    },
    {
        "id": "c345a7f4ca49c4c1",
        "type": "ui_group",
        "name": "Consulta",
        "tab": "219bf782a7bcea97",
        "order": 2,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1899bc6a4ef86be0",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "aspirantes",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d1b3ee5915f0f6fc",
        "type": "ui_group",
        "name": "Formulario",
        "tab": "219bf782a7bcea97",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "08e714efc0a7691b",
        "type": "ui_group",
        "name": "Formulario",
        "tab": "4c2659b30526538e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6517f3016d5c477a",
        "type": "ui_group",
        "name": "Correo",
        "tab": "4eab28893ec8d776",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "715dc720058e50a5",
        "type": "ui_group",
        "name": "Consulta",
        "tab": "4c2659b30526538e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "219bf782a7bcea97",
        "type": "ui_tab",
        "name": "Registro de aspirantes",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4c2659b30526538e",
        "type": "ui_tab",
        "name": "Consulta de aspirantes",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4eab28893ec8d776",
        "type": "ui_tab",
        "name": "Envio de correo",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]